node_modules/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local

# Android
android/app/build/
android/build/
android/.gradle/
local.properties

# Metro
.metro-health-check*

# IDE
.idea/
.vscode/
*.iml
